<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <!--Veri tabanı bağlantı adresimiz.-->
  <connectionStrings>
    <add  name="MovieContext"
          connectionString="data source=DESKTOP-FTQEI8G\SQLEXPRESS; 
                            initial catalog=MoviesSeriesDb; 
                            integrated security=true;"
          providerName="System.Data.SqlClient"
    />
  </connectionStrings>
  <!--initial catalog=MoviesSeriesDb; >>>>>> Bağlanılacak veritabanının adı -->
  <!--connectionString="data source=DESKTOP-FTQEI8G\SQLEXPRESS;  >>>>>> Veritabanının çalıştığı sunucu ve instance adı  -->
  <!--integrated security=true; >>>>>> Windows kimlik doğrulaması kullanılarak bağlanılacağını belirtir -->
  <!--providerName="System.Data.SqlClient"  >>>>>>  SQL Server için kullanılan sağlayıcı adı -->

  <!--
  1) connectionStrings ve Context sınıfı yazıldıktan sonra projeyi buid ediniz.
  2) migrations işlemi yapmak için Package Manager Console açıp Default Project alanından başlangıç projesini seçin.
  3) migration'ları aktif hale getiriyoruz.
  4) PM> enable-migrations kodunu yazıp enter dememiz yeterli.
  5) Daha sonra Migrations klasörü ve Configuration adında bir sınıfımız oluşacak.
  6) Configuration sınıfındaki AutomaticMigrationsEnabled ifadesi true olarak değiştirin.
  7) Tekrardan Package Manager Console açıp update-database yazıp enter diyin. Veri tabanı sql'de oluşacaktır.
  -->
  
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
  

</configuration>